DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_HOST=postgres
DB_PORT=5432
DJANGO_SECRET_KEY='django secret key'
JWT_SECRET='generate with jwt'
FERNET_SECRET="generate with fernet"
OAUTH_UID=uid
OAUTH_SECRET=secret
OAUTH_STATE=solid
RANDOM_OAUTH_USER_PASSWORD=randompassword12345thisisnotimportant